*, *::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins',
    sans-serif;
    line-height: 1.4;
    background-color: rgb(31, 28, 28);
    color: rgb(216, 212, 206);
    font-size: 16px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

h1 {
    font-size: 2.75rem;
    padding: 0.5rem;
}

h2 {
    font-size: 1rem;
    color: gray;
}

p {
    padding: 1rem;
    margin-bottom: 2rem;
    font-style: italic;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 0;
    max-width: 100%;
}



#search {
    width: 30rem;
    height: 3rem;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

#btn-find {
    width: 10rem;
    height: 2.5rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem;
    background-color: coral;
    border: hidden;
    outline: 0.1rem solid gainsboro;
} 



#display {
   display: flex;
   flex-wrap: wrap;
   width: 900px;
   margin: 0 auto;
   justify-content: space-around;
    
}

#display .card {
    width: 200px;
    margin-top: 2rem;
}

